@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.header-n-search {
  width: 100%;
  max-width: 768px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 100;
}

main {
  margin-top: 190px;
  margin-bottom: 50px;
}
header {
  height: 80px;
  background-color: #033075;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.input-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-box .select-box {
  width: 100%;
  border-bottom: 0.5px solid #666;
}

/* IE 기본arrow 제거 */
.input-box .select-box select::-ms-expand {
  display: none;
}

.input-box .select-box select {
  /* 기본arrow 제거 */
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 50%;
  height: 50px;
  border: 0 none;
  background: #fff;
  padding: 10px;
  font-family: "Noto sans KR", sans-serif;
  color: #333;
  font-size: 14px;
}

.input-box .select-box select:first-child {
  border-right: 0.5px solid #666;
}

.search-box {
  width: 100%;
  padding: 10px;
  position: relative;
  box-shadow: 0px 1px 4px #ccc;
  z-index: 1000;
}

.search-box input {
  width: 100%;
  height: 40px;
}

.search-box button {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  background-image: url(../public/src/images/ic_outline-search.svg);
  position: absolute;
  right: 20px;
  top: 18px;
}

.top-list-box {
  background: #f5f7fa;
  padding: 20px;
  overflow: hidden;
}

.top-list-box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.top-list-box .slide-wrap {
  position: relative;
}

.top-list-box .top-list {
  display: flex;
  width: calc(1000% + 200px);
  gap: 20px;
  transform: translateX(calc(0 * (-100vw + 20px)));
  transition: 0.5s;
}

.top-list-box .top-list li {
  width: calc(100vw - 40px);
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: right bottom;
  background-repeat: no-repeat;
  word-break: keep-all;
}

.top-list-box .top-list li .list-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.top-list-box .top-list li .list-header h4 {
  font-size: 14px;
}

.top-list-box .top-list li .list-header p {
  font-size: 9px;
  color: #666;
}

.top-list-box .top-list li h5 {
  font-weight: 500;
  font-size: 12px;
  color: #333;
  margin-bottom: 5px;
}

.top-list-box .top-list li > p {
  font-size: 12px;
  color: #666;
}

/* .top-list-box .top-list li .detail-link {
  width: 80px;
  font-size: 12px;
  color: #666;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 15px;
} */

.top-list-box button {
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px #ccc;
}

.top-list-box .btn-prev {
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
}
.top-list-box .btn-next {
  right: -11px;
  top: 50%;
  transform: translateY(-50%);
}

.theme-box {
  width: 100%;
  padding: 20px;
}

.theme-box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.theme-box .theme-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.theme-box .theme-list a {
  width: 40%;
  min-width: 130px;
  height: 10vh;
  min-height: 100px;
  border-radius: 10px;
}

.theme-box .theme-list .theme {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(51, 130, 233, 0.8);
  /* outline: 1px solid rgba(3, 48, 117, 0.8); */
}

.theme-box .theme-list .theme p {
  width: 100%;
  font-size: 14px;
  background: rgba(51, 130, 233, 0.8);
  /* background: rgba(3, 48, 117, 0.8); */
  color: #fff;
  text-align: center;
  border-radius: 0 0 9px 9px;
  padding: 2px;
}

.items {
  width: 100%;
  padding: 20px;
}

.items .item {
  margin-bottom: 20px;
  background: #f5f7fa;
  padding: 10px;
  border-radius: 15px;
}

.items .item h3 {
  font-size: 16px;
}

.items .item .info-table {
  width: 100%;
}

.items .item .info-table th {
  width: 70px;
  font-size: 14px;
  vertical-align: top;
  padding: 5px 0;
  text-align: left;
  color: #333;
}

.items .item .info-table td {
  font-size: 14px;
  padding: 5px 0;
  color: #666;
}

.items .item .info-table td p {
  width: 100%;
  max-height: 40px;
  overflow-y: hidden;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

nav .home-box {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 4px 4px #ccc;
  position: relative;
  bottom: 15px;
}
